@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
  white-space: nowrap;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 18s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-20%);
  }
}
.marquee:hover .marquee-content {
  animation-play-state: paused;
}

* {
  font-family: Inter, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
